services:
  _defaults:
    public: true

  ##############
  # Your Module

  crisp.module:
    class: Crisp
    factory: ['Module', 'getInstanceByName']
    arguments:
      - 'crisp'

  crisp.context:
    class: Context
    factory: ['Context', 'getContext']